header{
    background-color: #25f3fa;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 180px;
    bottom: 0px;
    height: 60px;
    display: flex;
    padding-left: 40px;
}

.navi{

}

.navi li{

}